@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-white {
  filter: invert(95%) sepia(79%) saturate(4%) hue-rotate(193deg)
    brightness(104%) contrast(100%);
}

.sidebar-item {
  padding: 8px 30px;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: rgb(125, 132, 142);
}
